@model Fall2025_Project3_esbusby.Models.Actor
@using VaderSharp2
@{
    ViewData["Title"] = "Details";
    var tweets = ViewBag.Tweets as List<(string username, string text, SentimentAnalysisResults sentiment)>;
    double avgSentiment = ViewBag.AverageSentiment ?? 0;
}
@functions {
    public string GetImageSrc(byte[]? imageData)
    {
        if (imageData == null || imageData.Length == 0)
        {
            return "https://via.placeholder.com/300x450?text=No+Image";
        }
        var base64 = Convert.ToBase64String(imageData);
        return $"data:image/jpeg;base64,{base64}";
    }
}
<h1>Details</h1>
<div>
    <h4>Actor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImdbLink)
        </dt>
        <dd class="col-sm-10">
            <a href="@Model.ImdbLink" target="_blank">IMDB</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            <img src="@GetImageSrc(Model.Photo)"
                 alt="Photo"
                 style="max-width: 300px; max-height: 450px;" />
        </dd>
    </dl>
</div>
<hr />
<h4>Movies with this Actor</h4>
@if (Model.ActorMovies != null && Model.ActorMovies.Any())
{
    <ul>
        @foreach (var actorMovie in Model.ActorMovies)
        {
            <li>
                <a asp-controller="Movies" asp-action="Details" asp-route-id="@actorMovie.MovieId">
                    @actorMovie.Movie?.Title
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>No movies have been added for this actor yet.</p>
}

<hr />

<h3>Sentiment Average: @avgSentiment.ToString("#.###")</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 60%;">AI Generated Tweets</th>
            <th style="width: 40%;">Sentiment Analysis</th>
        </tr>
    </thead>
    <tbody>
        @if (tweets != null && tweets.Any())
        {
            foreach (var tweet in tweets)
            {
                <tr>
                    <td><strong>@tweet.username:</strong> @tweet.text</td>
                    <td>
                        <strong>Sentiment:</strong> @tweet.sentiment.Compound<br />
                        <strong>Positive:</strong> @tweet.sentiment.Positive<br />
                        <strong>Negative:</strong> @tweet.sentiment.Negative<br />
                        <strong>Neutral:</strong> @tweet.sentiment.Neutral
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
